version: '3'
services:
  app:
    build:
      context: ./web
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app
    command: sh -c "cd web && npm run dev"
    ports:
      - "3000:3000"
  java:
    build: 
      context: ./app
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    tty: true
    stdin_open: true
    volumes:
      - ../:/usr/src/web
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/mysqlpass
      SPRING_DATASOURCE_USERNAME: todo000db
      SPRING_DATASOURCE_PASSWORD: todo000kun
    depends_on:
      - database
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  database:
    image: mysql:8.3.0
    container_name: database
    ports:
    - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: mysql000ex
      MYSQL_USER: todo000db
      MYSQL_PASSWORD: todo000kun
      MYSQL_DATABASE: mysqlpass
    volumes:
    - ./docker/db/data:/var/lib/mysql
    - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
    - ./docker/db/sql:/docker-entrypoint-initdb.d

networks:
  default:
    name: nextjs-test-network